/* style.css */
body {
  font-family: Arial, sans-serif;
  text-align: left;
  margin: 50px;
}

#app {
  max-width: 600px;
  margin: 0 auto;
}

#qa-container {
  margin-bottom: 20px;
}

#question,
#answer.markdown { /* Обновленный селектор для класса markdown */
  margin-bottom: 10px;
}

#next-btn {
  padding: 10px;
  cursor: pointer;
}

/* Добавим стили для красивого отображения Markdown-разметки */
.markdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
